section .title .icon {
    color: var(--subtitle);
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

section .title {
    color: var(--title);
    font-size: 2.1rem;
    margin: 1rem 0;
}

section .subtitle {
    color: var(--subtitle);
    font-size: 1.2rem;
    line-height: 2rem;
    margin: 2rem 0;
}

form.flex {
    flex-direction: column;
    align-items: flex-start;
}

section.contact label {
    color: var(--subtitle);
    margin-top: 1.1rem;

}

section.contact #email,
section.contact #message {
    all: unset;
    background-color: rgba(63, 63, 70, 0.15);
    border: 1px solid rgb(63 63 70);
    width: 24rem;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 1.1rem;
    color: white;
}

section.contact #message {
    min-height: 10rem;
}

section.contact #email:focus,
section.contact #message:focus,
section.contact #email:hover,
section.contact #message:hover {
    border: 1px solid rgb(45 212 191);
}

.light section.contact #email:focus,
.light section.contact #message:focus,
.light section.contact #email:hover,
.light section.contact #message:hover {
    border: 1px solid rgb(135, 86, 212);
}

section.contact button {
    background-color: rgba(36, 37, 46, 1);
    width: 11rem;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 0.9rem 0.5rem;
    text-align: -webkit-center;
    color: white;
    font-size: 1.05rem;
    transition: 0.3s;
    align-self: center;
    margin-top: 1.8rem;
}

section div.Left-Side button:hover {
    cursor: pointer;
    border: 1px solid var(--blue);
}

@media (max-width: 1250px){
    .animation {
        display: none;
    }
}

@media (max-width: 600px) {
    div.animation {
        display: none;
    }

    section.contact #email,
    section.contact #message {
        width: 100%;
    }

    div.box {
        justify-content: center;
    }

    form.flex div.flex {
        flex-direction: column;
    }

    section.contact #email {
        margin-left: 0.5rem;
    }

    section.contact button {
        align-self: center;
    }

}